

        .container {
            background-color:#e6c1a7;
            height: 170vh;
            width: 100vw;

        }


        .b{
             height:100vh ;  //600px
            position: relative;
            width: 20%;
            background-color: beige ;
            left: 5%;
            top: 5%;
            bottom: 3%;
            border-radius: 7%;
            box-shadow: 4px 4px 4px 4px #926c51 ;


        }
        .b1{
            position: relative;
            left: 25%;
            top: 5%;
            display: block;
        }
        .b2{
            position: relative;
            left: 25%;
            top: -2%;
        }
        i.fa-envelope{
            position: relative;
            font-size:2vw;
            top: 3%;
            left: 10%;
        }
        i.fa-phone{
            position: relative;
            font-size:2vw;
            top: 3%;
            left: 10%;
        }
        i.fa-calendar-days{
            position: relative;
            font-size:2vw;
            top: 3%;
            left: 10%;
        }
        i.fa-house{
            position: relative;
            font-size:2vw;
            top: 3%;
            left: 10%;
        }
        

        .c{
            position: absolute;
            background-color: beige;
            width: 65%;
            left: 30%;
            height: 140vh;
            top: 16%;
            border-radius: 7%;
        }
        .h{
            display: flex;
            flex-direction: row-reverse;
            background-color: beige;
            width: 30%;
            position: relative;
            left: 65%;
            top: 2%;
            right: 5%;
            justify-content: space-evenly;
            border-radius: 2%;
            box-shadow: 4px 4px 4px 4px #926c51 ;
            

        }
        .h>div{
            padding: 2%;
        }
        

        a{
            text-decoration: none;
            color: black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }