<div class="a">

<h1>About Me </h1>
______________________

<p style="font-size: large;">I’m a frontend developer transitioning from a career in payroll and accounting. My passion for design, technology, and user experience led me to explore web development, where I now focus on building responsive and visually appealing websites using HTML, CSS, JavaScript, and Angular.
    <br>
    I bring strong attention to detail and problem-solving skills from my previous role and apply them to crafting smooth, user-friendly web interfaces.</p>

<h1>What am Doing </h1>
<div class="b">
    
    <div class="web-design"><i style="font-size: large; padding: 2%;" class="fa-solid fa-object-group"></i> <h3>Web Design</h3><p>Creating modern and attractive UI designs with HTML and CSS.</p></div>
    <div class="fe"><i style="font-size: large;" class="fa-solid fa-code"></i> <h3>Frontend Development</h3> <p>Building user-friendly websites and apps using Angular and JavaScript.</p></div>
    <div class="angular"><i style="font-size: large;" class="fa-brands fa-angular"></i> <h3>Angular Components</h3><p>Developing dynamic UI components with Angular for seamless user experiences.</p> </div>
    <div class="backend"><i style="font-size: large;" class="fa-solid fa-laptop-code"></i> <h3>Backend Basics</h3><p>Working with Java and SQL(Oracle) for database-driven web applications.</p> </div>
</div>


</div>

