<div class="a">
<h1>My Skills</h1>
______________________

<br>
<br>

<div class="skill-container">

    <h3>Web Designing <span>70%</span></h3>
    <div class="skill-bar">
      <div class="skill-fill" style="width: 70%;"></div>
    </div>
  
    <h3>Web Development <span>60%</span></h3>
    <div class="skill-bar">
      <div class="skill-fill" style="width: 60%;"></div>
    </div>
  
    <h3>Oracle SQL <span>60%</span></h3>
    <div class="skill-bar">
      <div class="skill-fill" style="width: 60%;"></div>
    </div>
  
    <h3>Core java <span>40%</span></h3>
    <div class="skill-bar">
      <div class="skill-fill" style="width: 40%;"></div>
    </div>

    <h3>Microsoft Excel <span>90%</span></h3>
    <div class="skill-bar">
      <div class="skill-fill" style="width: 90%;"></div>
    </div>

  </div>

  

</div>