<div class="skills-section">
  <h2>My Skills</h2>
  <hr class="section-divider" />

  <div class="skills-grid">
    <div class="skill-card">
      <h3> Web Designing</h3>
      <p>HTML, CSS, Flexbox, Grid, Color schemes & Navigation bar.</p>
    </div>
    <div class="skill-card">
      <h3> Web Development</h3>
      <p>JavaScript, Angular, TypeScript, Routing, Services & Firebase. </p>
    </div>
    <div class="skill-card">
      <h3> Oracle SQL</h3>
      <p>DDL, DML, DQL, Constraints, Joins, Subqueries, Indexes and Views & Set Operators.</p>
    </div>
    <div class="skill-card">
      <h3> Core Java</h3>
      <p>Class, Object, Inheritance, Polymorphism, Abstraction, Encapsulation , Objects & Arrays.</p>
    </div>
    <div class="skill-card">
      <h3> Microsoft Excel</h3>
      <p>VLOOKUP, Pivot Table, Conditional Formatting & Shortcuts.</p>
    </div>
  </div>

  <h3 id="conclude" >Bringing All Together:</h3>
  <div class="conclusion">
    <ul>
      <li>
        From a strong foundation in commerce to hands-on experience in web technologies, my journey has been all about growth and adaptability.
      </li>
      <li>
        With skills in Angular, JavaScript, Firebase and Oracle SQL, I'm passionate about building clean, functional designs and always learning.
      </li>
      <li>
        If you're looking for a motivated frontend developer with attention to detail and practical skills — let's connect!
      </li>
    </ul>
  </div>
</div>
