<div class="a">

    <h1>Resume</h1>
    ______________________
    <br>
    <br>
    <br>
    <div style="display: inline-block;"><i style="font-size: 25px; padding: 2%;" class="fa-solid fa-book-open"></i></div>&nbsp;&nbsp;&nbsp;  <h2 style="display:inline-block; ">Education</h2>
    <ul style="list-style-type: square; font-size: large;">
        <li><b>School:</b> <br>
             Sri sankara Vidhyalaya Matriculation Higher Secondary school, Urapakkam <br>
            10th: 91%  <br>
            12th : 87% <br>
        </li>

        <br>
        <li> <b>College :</b> <br>
            Meenakshi College for Women, Kodambakkam <br>
            completed B.com (General) @ 2021 with 83%.

        </li>
        <br>
        <li>
            <b>Articleship:</b>   <br>
            2022(jan) - 2023(May) <br>
            K.S. Jagannanthan & Co, Kodambakkam <br>
            Pursued CA Articleship. 
        </li>


    </ul>
    <div style="display: inline-block;"><i style="font-size: 25px; padding: 2%;" class="fa-solid fa-book-open"></i></div>&nbsp;&nbsp;&nbsp;  <h2 style="display:inline-block; ">Experience</h2>
    <ul style="font-size: large;" >
        <li><b>Payroll Analyst</b>
        <p>Payroll analyst in ADP Chennai (Aug’23- July’24) –
            Handling payroll, client queries, TDS Quarterly
            Filings(24Q), and Form 16 activities, Proofs and bills
            validations.
            </p>
        </li>
        <li><b>Article Assisstant</b>
            <p>Served in an Audit firm as an Article Assistant
                (Jan’22-July’23) – Income tax return Filings,
                Vouching, statutory and concurrent audits.
                </p>
        </li>

    </ul>



</div>
