
  <h2 style="text-align: center;">My projects </h2>
<div class="projects">
  <div class="card">
    <a href="https://restaurant-git-main-umamaheshwari-pavis-projects.vercel.app/" target="_blank">
      <img src="assets/fooddelivery.png" alt="Food Delivery">
    </a>
    <h3>Food Delivery (Angular)</h3>
    <p>Uses Angular & routing for smooth navigation between food categories & restaurants.</p>
  </div>

  <div class="card">
    <a href="http://image-search-engine-2c8l-git-main-umamaheshwari-pavis-projects.vercel.app/" target="_blank">
      <img src="assets/imagesearchengine.png" alt="Image Search">
    </a>
    <h3>Image Search (JavaScript)</h3>
    <p>Simple JS project that fetches image results using API integration.</p>
  </div>

  <div class="card">
    <a href="http://my-library-git-main-umamaheshwari-pavis-projects.vercel.app/" target="_blank">
      <img src="assets/mylibrary.png" alt="Book Bank">
    </a>
    <h3>Book Bank (Angular with Firebase)</h3>
    <p>Includes login/register, and book operations using Firebase Auth & CRUD operations.</p>
  </div>

  <div class="card">
    <a href="http://weather-app-git-main-umamaheshwari-pavis-projects.vercel.app/" target="_blank">
      <img src="assets/myweatherapp.png" alt="Weather App">
    </a>
    <h3>Weather App (JavaScript)</h3>
    <p>Fetches and displays real-time weather data using OpenWeather API.</p>
  </div>

  <div class="card" >
    <a href="https://myxogame-git-main-umamaheshwari-pavis-projects.vercel.app/" target="_blank">
      <img src="assets/myxogame.png" alt="XO Game">
    </a>
    <h3>XO Game (Angular)</h3>
    <p>XO game with Angular logic and styling. Interactive and fun!</p>
  </div>

</div>
